[2014-06-02 07:09] alexgenco opened #1 "Bring back libuv support"
Libuv support has been removed to simplify development for the time being. As a result, the library will have limited support on other platforms besides OS X.

[2015-04-03 22:26] greyblake opened #3 "Rubygems"
Hi!
Thanks for the ruby client)
Are you gonna push it to rubygems as a gem?

[2015-07-12 08:00] rjungemann commented on #3
What is the plan for making this a gem?

[2015-08-05 05:25] jalcine commented on #3
I think it might be fair to say that @alexgenco's abandoned this project.

[2015-08-05 15:01] alexgenco commented on #3
Sorry I'm not sure how I missed these comments. The project is more or less on hold. The main reason I haven't published it yet is that I'm waiting for msgpack-ruby to add support for extended types, which is [in progress](https://github.com/msgpack/msgpack-ruby/issues/42). Right now I'm using a fork from a pull request to get the functionality.

Tarruda also mentioned a neovim rpc c library that

[2015-08-05 16:15] jalcine commented on #3
[**@alexgenco**](https://github.com/alexgenco) commented on [Aug 5, 2015, 11:01 AM EDT](https://github.com/alexgenco/neovim-ruby/issues/3#issuecomment-128027497 "2015-08-05T15:01:52Z - Replied by Github Comment Enhancer"):

No worries; I apologize for the earlier comment, I only assumed because of the last time you've committed to this.

Got it; I'll subscribe to that issue.

Interesting as a stop

[2015-08-05 19:08] alexgenco commented on #3
@jalcine the libuv work is on a very old, abandoned [branch](https://github.com/alexgenco/neovim-ruby/blob/libuv/lib/neovim/stream.rb). You might be able to salvage something from this, but a complete rewrite might also be in order.

Later this week I'll try to look into the status of libnvim (it looks like it's [available now](https://github.com/neovim/neovim/blob/7dc241ac782e3a469d73d5f9a7baeba4

[2015-08-06 07:38] ff2000 commented on #3
Ta... daaaa!!!! :D
https://github.com/msgpack/msgpack-ruby/commit/61f3499d5c7f268b157710c1218c26cd6d6a0e57

[2015-08-06 07:47] jalcine commented on #3
Oh, this changes everything! :fireworks:

[2015-08-06 20:11] alexgenco commented on #3
Great timing! I'll bump the msgpack dep once they release it to rubygems.

[2015-08-06 21:55] jalcine commented on #3
Thanks @alexgenco!

[2015-08-07 05:41] alexgenco commented on #3
You all might be interested in this big PR I just opened: https://github.com/alexgenco/neovim-ruby/pull/4

[2015-09-29 05:37] alexgenco commented on #1
Using eventmachine for now.

[2015-09-29 05:37] #1 closed

[2015-10-15 22:55] jfredett commented on #3
What's the status on this being released to rubygems? Did the dependency situation ever get resolved?

[2015-10-15 23:23] alexgenco commented on #3
@jfredett I'm planning on getting a 0.0.1 up to rubygems tomorrow. The msgpack-ruby dependency is basically resolved (https://github.com/alexgenco/neovim-ruby/commit/f7f6ffa1a7da0849d4bec87605830a8e04b0830d), although I'd like to pin to a non-dev version as soon as it's available.

[2015-10-15 23:24] jfredett commented on #3
@alexgenco Awesome! I'm looking forward to playing with this binding. Thanks!

[2015-10-16 20:40] alexgenco commented on #3
v0.0.1 has been released to RubyGems. I'm going to close this; feel free to try out the gem and open new issues.

[2015-10-16 20:40] #3 closed

[2015-10-19 08:34] greyblake commented on #3
Thanks!)

[2015-11-22 20:55] stephenprater opened #5 "Neovim Ruby Host race condition"
I've been working on a `legacy-ruby-provider` using this plugin, and I think I've found a threading problem.

Basically, this:
[code]

Does not work - the process just hangs forever.

While this:
[code]

Works fine.

As a further data point - if I send an RPC request to the remote host that it does not respond to - (in this case anything other than 'poll') then the process hangs forever.  I looked

[2015-11-22 21:32] alexgenco commented on #5
Thanks for the info, I'm glad you're working on this. The race condition is definitely on my [radar](https://github.com/alexgenco/neovim-ruby/blob/v0.0.2/spec/acceptance/neovim-ruby-host_spec.rb#L37), but I haven't had the time to track it down yet. I wasn't aware of hanging on unknown requests, but it's possibly the same issue.

I should note that as of 0.0.2 I removed the EventMachine dependency

[2015-11-22 22:42] alexgenco commented on #5
I just pushed a fix for my original issue (https://github.com/alexgenco/neovim-ruby/commit/295a3b9eb41b38f7ba604849f94e196611773dee). Can you try it out on master and see if it fixed your issue as well?
I also added the "poll" request and error handling around unknown requests (https://github.com/alexgenco/neovim-ruby/commit/a50a09b2395cacba27324ba3223a9bf482f5a673)

[2015-11-22 22:49] stephenprater commented on #5
Beautiful!  Works perfectly :+1:

[2015-11-22 22:57] alexgenco commented on #5
Glad to hear it! Let me know if you have any other issues, otherwise I'll probably release 0.0.3 later today.

[2015-11-23 00:55] alexgenco commented on #5
Just released 0.0.3

[2015-11-23 00:55] #5 closed

[2015-12-11 14:15] mtortonesi opened #6 "if_ruby compatibility / ruby provider"
It would be very nice to expand the scope of this project to include a ruby provider for neovim. Is there any plan to do that? If so, I would be willing to contribute.

[2015-12-12 03:23] alexgenco commented on #6
Yes I think this absolutely falls under the scope of this gem. I've only put a small amount of time into piecing together how it would work, basically by looking at the python client and neovim source. I'd love some help on this front, since I don't have all that much free time at the moment.

[2016-01-14 05:37] stephenprater commented on #6
@alexgenco I'm still working on it.

[2016-01-16 00:09] alexgenco commented on #6
@stephenprater thanks for doing that. At the risk of stepping on your toes, I've added support for ruby remote plugin scripts, loaded from the `rplugin/ruby` directory. Here's the neovim-side change (as far as I know, haven't opened a PR yet) https://github.com/alexgenco/neovim/commit/3a552598dbd069c113bd166bab6db6cae991c321.

Is there any way I could track/contribute to your progress with the Rub

[2016-01-16 00:14] stephenprater commented on #6
@alexgenco i haven't pushed anything yet.  Seems like the update to 0.0.4 broke must of what I had done - I'm trying to get the remote host to respond to rpcrequests again.

There's actually a bit more to the neovim side than that - there's some stuff that has to be done within the C code to get it to work.  I'll try to get something up tonight.

[2016-01-16 02:19] alexgenco commented on #6
There were a lot of changes in 0.0.4, but I think the biggest changes were additive to support loading plugins. What kinds of failures did it introduce for you?

Are you sure there are C changes needed to support remote plugins? I've tested my branch of neovim against neovim-ruby master (not yet published to RubyGems) and plugin loading and spawning seems to basically work. The legacy ruby provide

[2016-01-17 23:00] stephenprater commented on #6
You're right, I'm talking about the legacy provider.  I haven't investigated, like... at all - but basically my remote host script no longer responds to RPC requests like it used to.  I suspect this has to do with loading plugins in the script somehow, or perhaps namespacing the RPC requests, but again - haven't really looked to hard.

[2016-01-18 18:16] alexgenco commented on #6
Yeah the host function name spacing is the likely culprit. Check out the acceptance test to see the format it expects for functions.

[2016-01-19 10:09] bradurani commented on #6
Really excited this is active. Thank you so much for working on this :100:

[2016-02-02 17:49] cstrahan commented on #6
I don't want to dissuade anyone from continuing their work on this front, but I'd like to also take a stab at this. Don't know when I'll have the time... but I'd like to take a stab at it tonight. If anyone has some work I can reference, that would be great.

I don't know about you all, but I find [Command-T](https://github.com/wincent/command-t) to be indispensable, but having Ruby embedded in vi

[2016-02-02 17:55] stephenprater commented on #6
@cstrahan https://github.com/stephenprater/neovim/tree/add-ruby-ex-commands

[2016-02-02 17:56] cstrahan commented on #6
@stephenprater Cool - thanks! If I have anything to show, I'll drop a link here. If I can't finish it, hopefully whatever I find will be useful to others working on this.

[2016-02-02 17:57] stephenprater commented on #6
@cstrahan if you want to make PRs against that branch, I'll merge them before I make my PR to Neovim.

I probably won't work on it _tonight_ but I might get to it tomorrow.

[2016-02-02 17:58] cstrahan commented on #6
@stephenprater Ok, cool. What's the current status of your changes? Is it mostly working, with a few gotchas?

[2016-02-02 18:01] cstrahan commented on #6
Looks like a couple specs are commented out: https://github.com/neovim/neovim/compare/master...stephenprater:add-ruby-ex-commands

[2016-02-02 18:04] stephenprater commented on #6
No - the neovim-ruby 0.0.4 update broke everything that I had previously done.  I think it's function namespaces in the RPC requests that did it.  The C-side stuff is pretty well done, but the Ruby provider itself is barely started.

There is (or was anyway) at least one fairly big missing feature from the neovim-ruby gem - which had to do with the way ranges are expected to be passed into the pro

[2016-02-02 18:17] alexgenco commented on #6
@stephenprater I have preliminary range support on master: https://github.com/alexgenco/neovim-ruby/blob/5ddce88303a5565675074a13631ed74c15a6e443/lib/neovim/current.rb#L46-L53. Although it's probably not complete enough to be of any use to you yet. I can bump/release the gem later today if you'd like.

Welcome, @cstrahan :)

[2016-02-29 20:31] kitlangton opened #7 "Plugin is not being recognized"
I've added the example plugin to `$VIMRUNTIME/rplugin/ruby/my_plugin.rb` and ran `:UpdateRemotePlugins`, but the plugin does not get registered and its commands do not become available. :(

Are there extra steps one must take in order to register the ruby host? Placing any empty `blah.py` at `$VIMRUNTIME/rplugin/python3/blah.py` seems to register just fine for some reason.

Thank you for your time

[2016-03-01 07:27] alexgenco commented on #7
Hi @kitlangton, sorry about the confusion. Unfortunately the vim remote plugin functionality requires a change neovim-side, which I'm hoping to open a PR for later this week: https://github.com/neovim/neovim/compare/master...alexgenco:ruby_rplugin.

The README is misleading for sure, that was an oversight on my part. I'll make it more clear.

[2016-03-01 18:54] kitlangton commented on #7
Thanks for the response! That's really exciting! Hopefully the ability to write Vim plugins in Ruby will tempt more Ruby people over to NeoVim. Thanks for your efforts :-D

[2016-03-04 17:50] alexgenco commented on #7
Here's the PR: https://github.com/neovim/neovim/pull/4410

[2016-03-05 15:40] tpbowden commented on #7
Is there a workaround for this without recompiling NeoVIm from a patched branch?

[2016-03-06 04:40] alexgenco commented on #7
@tpbowden I think that might be the best option at this point, unfortunately. Although I don't think you need to recompile, just `make install` to copy the runtime files (could be wrong about that).

[2016-03-06 16:17] tpbowden commented on #7
Yeah the make install is not necessary, all the .vim scripts in the runtime directory are executed from there

[2016-03-06 16:55] alexgenco commented on #7
Ah, missed your edit. Yeah that works too.

[2016-03-14 21:43] Tranquility opened #8 "Mode change is broken in commands"
I realized that changing into insert mode does not really work.
Inside of a command the following snipped requires another key press before it switches to insert mode however in functions it's working fine.

[code]

[2016-03-14 22:07] justinmk commented on #8
`:startinsert`/`:stopinsert` are documented rather specifically: they do not take effect until the current "script" or mapping is complete.

If you `eval()` an empty string, does it work as well?

[2016-03-14 22:29] Tranquility commented on #8
@justinmk thanks for your help.

No, but I don't think it's a neovim issue because I tested it with the python module and it works.  Also wouldn't functions have the same problem?

[2016-03-14 22:35] justinmk commented on #8
Not sure. I haven't studied the codepath of `vim_command` but it has some quirks that I have encountered when writing tests.

[2016-03-14 22:49] Tranquility commented on #8
I also experienced problems with other commands that operate in insert mode, just used `:startinsert` to make it easily reproducible.

For now I am defining the functions in ruby and commands that call them in vimscript as a workaround.

[2016-03-14 23:34] alexgenco commented on #8
@Tranquility just reproduced. I'll look into it later tonight.

[2016-03-15 02:45] alexgenco commented on #8
I get the same result when interacting directly via a non-Ruby msgpack client (this is [msgpack-lite](https://www.npmjs.com/package/msgpack-lite)):

[code]

Takes a keystroke before actually entering insert mode. @Tranquility do you get the same?

[2016-03-26 23:49] alexgenco commented on #7
PR is merged, I'm gonna close this.

[2016-03-26 23:49] #7 closed

[2016-05-20 05:40] alexgenco commented on #8
Closing this for now since I'm not sure anything can be done here.

[2016-05-20 05:40] #8 closed

[2016-05-26 06:31] mtortonesi commented on #6
Any progress on this issue? Is there any way I can help?

[2016-05-26 06:33] stephenprater commented on #6
Sure - if you want to rebase that old branch and resurrect it, I think I finally did get it at least talking to the provider again.  It's been a bit since I worked on it.

[2016-05-26 06:39] stephenprater commented on #6
actually I found a few minutes, I'll rebase it and push it right now.

[2016-05-26 06:49] stephenprater commented on #6
https://github.com/stephenprater/neovim/tree/add-ruby-ex-commands

So take a look at that branch, uncomment some of the Lua specs and go to town.

[2016-05-26 14:57] alexgenco commented on #6
I was also planning on taking another crack at this tomorrow.

[2016-06-10 23:52] alexgenco commented on #6
Still a ways off, but I've gotten a couple more tests passing. There is still some funkiness around `nvim` passing the range and `neovim-ruby` persisting it.

https://github.com/neovim/neovim/compare/master...alexgenco:master

[2016-06-28 03:37] alexgenco commented on #6
Opened a PR in `neovim` https://github.com/neovim/neovim/pull/4980

[2016-06-28 05:42] stephenprater commented on #6
Sweet!

[2016-07-10 22:21] alexgenco commented on #6
This has been merged into neovim master: https://github.com/neovim/neovim/pull/4980

[2016-07-10 22:21] #6 closed

[2016-07-11 10:39] eugen0329 opened #11 "Error detected while processing function provider#ruby#Call"
**Summary**:
Command `:ruby puts "hello"` produces output:

- for the first time
[code]
- afterwards

[code]

**Vesrions, logs etc**:
[code]

[code]
[code]
[code]
[code]

[2016-07-11 14:46] alexgenco commented on #11
Can you try exporting `NVIM_RUBY_LOG_LEVEL=DEBUG` and `NVIM_RUBY_LOG_FILE=/tmp/nvim.log` and see if there's a more specific error in /tmp/nvim.log?

[2016-07-12 09:54] eugen0329 commented on #11
[code]
then inside the neovim
[code]

~/.nvimlog contains the same errors as listed above.

[2016-07-12 16:42] alexgenco commented on #11
It seems like the Ruby host isn't even getting loaded, since we're not getting any logging. I'm curious about `Failed to start server: address already in use` and `Channel 2 stderr: Exception ignored in:`. I see some similar issues regarding the python client, e.g. https://github.com/neovim/neovim/issues/4194 and https://github.com/neovim/python-client/issues/124. Would you mind uninstalling the p

[2016-07-12 19:05] eugen0329 commented on #11
[code]

[code]
Everything else is the same as before=(

[2016-07-12 19:15] ches opened #12 "LustyJuggler: "VIM is not a module""
Hi,

Congrats on getting the plugin host this far and the `if_ruby` support merged!

The essentials seem to be working for me, e.g. a few things like `:ruby puts 'Hello!'`, `:ruby puts VIM::Buffer.count` are fine, but one of my only Ruby plugins is not: [LustyJuggler]. The plugin does a healthy dose of monkeypatching the `VIM` module, so that might be pertinent…

Whenever I invoke `:LustyJuggler`,

[2016-07-12 19:33] alexgenco commented on #11
@eugen0329 Can you try skipping your vimrc? `nvim -u NORC +'ruby puts "test"'`. Just want to check that it isn't caused by a plugin incompatibility.

@justinmk have you seen these logs before? I see mention of them scattered around neovim and python-client issues but not much resolution:

[code]

[2016-07-12 19:45] eugen0329 commented on #11
I ran these commands with no rc file.

[2016-07-12 19:56] alexgenco commented on #12
Thanks for writing this up. It looks this gem exposes 2 incompatibilities:

1. `nvim` exposes the `VIM` constant as a class, while `vim` exposes it as a module.
2. The `VIM::set_option` method takes 2 argument in `nvim` and 1 in `vim`.

I'm working on a fix for both of these, I'll try to get a patch release out later today if I can.

[2016-07-12 20:12] ches commented on #12
Ah! This should seem obvious now from the error, but I was trusting the old documentation and hadn't seen it in the source yet.

Thanks!

[2016-07-12 21:11] alexgenco commented on #12
@ches can you try `rake install`ing `neovim-ruby` from master and trying again?

[2016-07-12 21:20] ches commented on #12
That's fixed it!

[2016-07-12 23:01] alexgenco commented on #12
Just pushed v0.2.2, this should be good to go. Thanks!

[2016-07-12 23:01] #12 closed

[2016-07-13 02:11] justinmk commented on #11
@alexgenco Both of those errors are rather unusual to me, though I have not paid attention to `~./nvimlog` for some months. They definitely seem worth investigating.

[2016-07-13 02:37] justinmk commented on #11
Note that `rpcnotify()` intentionally ignores exceptions and return values. So that may explain that message, though it should probably be handled by whatever called it.

[2016-07-13 04:41] alexgenco commented on #11
I just noticed the timestamp on those logs... @eugen0329 has your `nvim` not been logging since Nov. 2015?

I just installed neovim fresh on an Ubuntu 12.04 VPS and couldn't get any logging either, although the Ruby provider was working fine. I even explicitly set `NVIM_LOG_FILE=~/.nvimlog` and got nothing. @justinmk is this a known issue?

[2016-07-13 05:02] justinmk commented on #11
@alexgenco Only `Debug` and `Dev` build-types log to `~/.nvimlog`. `RelWithDebInfo` and `Release` are both considered end-user build types, and compile out `*LOG()` macros.

[2016-07-13 05:28] alexgenco commented on #11
Got it. Well ok so those `.nvimlog` errors must be a red herring. Unless anyone has any other ideas, I think it might be most helpful to install from source to get proper logging. @eugen0329 sorry for the inconvenience. Build instructions are [here](https://github.com/neovim/neovim/wiki/Building-Neovim). You can run it like `VIMRUNTIME=./runtime ./build/bin/nvim`

[2016-07-20 13:34] cedlemo opened #13 "Column position from Neovim::Window#cursor start at 0"
In this little plugin :

[code]

When I run it , the column position is like an ruby array index, for example the starting position in the file :

[code]

I don't know if it is an issue or not.

[2016-07-20 16:34] alexgenco commented on #13
Yeah this is a little weird, but as far as I can tell it matches the legacy behavior. If you run `:ruby p VIM::Window.current.cursor` in regular `vim`, you'll get the same result. Is it causing issues for you elsewhere?

[2016-07-20 17:15] cedlemo commented on #13
No, I am just surprised because in vim/neovim the first column start to 1 (`echo col(".")` when you cursor is on the first column). I planned to write an `omnifunc` in ruby . This function is run twice and the first time it must return a position. So I guess that I will have to increment each position that has been computed in ruby and that I have to return to neovim/vim.

[2016-07-20 19:12] alexgenco commented on #13
The mismatch between `col(".")` and `window.cursor` is definitely weird. One possibility would be to make the `#cursor` method return 1-indexed for both rows and columns in remote plugins, and keep the legacy behavior just for `:ruby` scripts. Although that kind of feels like replacing one confusing thing with another. If you feel OK about that workaround, I think I'll leave the behavior as it is

[2016-07-20 19:26] cedlemo commented on #13
No problem, I understand.
Thanks.

[2016-07-20 19:26] #13 closed

[2016-07-23 19:55] eugen0329 commented on #11
Sorry for the late reply. I just tried to reinstall neovim with apt, and seems the problem is gone. I don't think it's worth looking for the root of the issue (moreover, I don't know how to reproduce it anymore).

[2016-07-23 19:55] #11 closed

[2016-07-23 21:35] alexgenco commented on #11
Thanks @eugen0329!

[2016-08-09 23:40] stephenprater opened #15 "included omni-complete function does not work"
The omnicomplete function included in the neovim distribution does not work.

https://github.com/neovim/neovim/issues/5204

Feels like moving it to this gem might be the best move.

[2016-08-26 01:28] jpleau opened #16 "Shada not disabled in all tests"
Hi.

I noticed that in neovim_spec.rb, nvim is ran with -i NONE, to disable shada.

However, in other tests, -i NONE is not passed, thus enabling ShaDa and altering the user's local shada file.

Is there a reason why it's not disabled? My first guess was that it was just forgotten. I can send a PR if -i NONE should be added to all instances of neovim that are launched.

Thanks !

[2016-08-26 05:21] alexgenco commented on #16
Oh, honestly I think the `-i NONE` is a typo, intended to be `-u NONE`. I wasn't even really aware of the `-i` option. Good catch, feel free to open a PR as I probably wouldn't be able to get around to it for a little while.

[2016-08-27 13:23] #16 closed

[2016-09-15 15:16] ohjames opened #18 "$curbuf falls behind VIM::Buffer.current"
In vim $curbuf and VIM::Buffer.current are always the same, in neovim-ruby when I open and focus a new buffer then $curbuf does not update.

Some vim scripts can be replaced by a global replace of $curbuf with VIM::Buffer.current (such as oniwabandana).

[2016-09-15 15:18] ohjames opened #19 "setting the line position of VIM::Window.current.cursor to 0 does not work."
e.g.

[code]

The first argument of `0` means "don't change the line position" but neovim-ruby reports "Index out of bounds".

[2016-09-15 20:23] alexgenco commented on #19
Is that the behavior in vim? Should be easy enough to fix. I'm out of town for a few days, so feel free to open a pull request. Otherwise I'll get to it sometime next week.

[2016-09-17 13:44] alexgenco commented on #18
What steps can reproduce this? Both `:new` and `:tabnew` are incrementing `$curbuf.number` for me.

[2016-09-20 03:54] alexgenco commented on #19
@ohjames just merged a fix to match the behavior of `vim`, which is actually slightly different than you described. It looks like giving a line <= 0 actually moves the the cursor to the first line (and same for the column).

You can give it a try by `rake install`ing on master if you'd like.

[2016-09-27 15:14] ohjames commented on #19
@alexgenco nope: see `:help cursor`. I quote:

This extension I'm using relies on that fact.

[2016-09-27 15:15] ohjames commented on #19
Note also:

[2016-09-27 15:19] ohjames commented on #18
Try splitting the window and moving between them... this issue breaks the popular `ctrl-p`, `command-t` and `oniwabandana` extensions due to the behaviour I described. You can fix each of these extensions with a global replace of `$curbuf`.

[2016-09-27 16:07] yourealwaysbe opened #21 "Ruby support does not keep up with directory changes"
If the directory is changed (e.g. via a :cd command), calls to ruby are still evaluated in the directory nvim was originally opened in.  Vim will evaluate ruby in the current directory.

To reproduce:
- :cd newdirectory
- :ruby puts `pwd`

[2016-09-29 04:03] alexgenco commented on #19
@ohjames that isn't the behavior of the legacy vim `VIM::Window#cursor=` method though. Your example (`VIM::Window.current.cursor = [ 0, 5 ]`) moves the cursor to the first line, 5th column (0-indexed). It's not consistent with the `cursor()` function, and it isn't meant to be.

What exactly is the problem you're facing?

[2016-09-29 04:20] alexgenco commented on #21
Thanks, I'll look into this soon

[2016-09-29 13:38] ohjames commented on #19
Just test it, you'll see you're incorrect.

[2016-09-29 13:40] ohjames commented on #19
Ah, you're correct.

[2016-09-29 13:40] #19 closed

[2016-09-29 15:48] alexgenco commented on #18
This should be somewhat resolved by https://github.com/alexgenco/neovim-ruby/commit/1c2e41c56e8984d04edeb8fc61884593c1f925a5. Although command-t is still broken when run from a tab, which I believe is a [neovim issue](https://github.com/neovim/neovim/issues/5332#issuecomment-248514091).

[2016-09-29 17:15] alexgenco commented on #21
@yourealwaysbe can you try building from https://github.com/alexgenco/neovim-ruby/pull/22 and see if it resolves your issues?

[2016-10-04 19:35] alexgenco commented on #18
This should be resolved now. Lemme know if you have more issues.

[2016-10-04 19:35] #18 closed

[2016-10-05 01:11] docwhat opened #23 "Mechanism to auto-install/auto-update gem"
Currently, if the neovim gem is not installed, I get this message:

[code]

Instead, it would be nice if it did something like:

[code]

[My configuration files](https://github.com/docwhat/dotfiles/tree/master/config/nvim)

[2016-10-05 08:46] yourealwaysbe commented on #21
Sorry, i do not know how to do this.  If i clone the branch and run

    gem build neovim.gemspec
    gem install neovim-0.3.1.gem

and start nvim, i just get

    Cannot find the neovim RubyGem. Try :CheckHealth

[2016-10-05 09:04] yourealwaysbe commented on #21
That said, if i install version 0.3.1 through the Arch Linux AUR, the problem appears to be fixed.  Thanks.

[2016-10-05 16:05] alexgenco commented on #21
So 0.3.1 doesn't include this change, so I think you must be running the locally installed version. What's the output of `neovim-ruby-host -V`, and also the `:CheckHealth` command?

In the future, the best way to install it from source is to clone it and run `rake install`. Although I think your way should have worked too, so that's a little puzzling.

[2016-10-05 16:12] alexgenco commented on #23
This is a great idea, although I'm not sure we want to make assumptions about the way people install rubygems. Since this would be mostly an nvim-side change anyway, would you mind reopening this as an issue on [neovim](https://github.com/neovim/neovim/issues) to get some of their input? Feel free to mention me.

[2016-10-05 16:39] matthewhague commented on #21
neovim-ruby-host -V

    0.3.1

:CheckHealth

    ## Ruby provider
      - SUCCESS: Found Neovim RubyGem
      - INFO: Ruby Version: ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-linux]
      - INFO: Host Executable: /usr/bin/neovim-ruby-host
      - INFO: Host Version: 0.3.1

Though i also still have neovim installed in my local ~/.gem.  After deleting it, the problem returns.  So i guess so

[2016-10-05 16:50] yourealwaysbe commented on #21
neovim-ruby-host -V

    0.3.1

:CheckHealth

    ## Ruby provider
      - SUCCESS: Found Neovim RubyGem
      - INFO: Ruby Version: ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-linux]
      - INFO: Host Executable: /usr/bin/neovim-ruby-host
      - INFO: Host Version: 0.3.1

Though i also still have neovim installed in my local ~/.gem.  After deleting it, the problem returns.  So i guess so

[2016-10-05 18:47] alexgenco commented on #21
Are you using a ruby version manager? I'm wondering if nvim's ruby doesn't have access to wherever `rake install` is installing it. What's the output of `:ruby puts RUBY_VERSION, RUBY_PATCHLEVEL` in nvim?

[2016-10-17 07:47] waiting-for-dev commented on #11
I had a similar issue. The error logs said that there was incompatibility with current `msgpack` library. The solution was uninstalling `msgpack` and installing it again. Hope it helps somebody.

Cheers.

[2016-11-11 18:16] MatLeb opened #24 "Autocmd"
I have a problem with autocmds :

- Case 1

1.  I start nvim
2. run a command from a test plugging (ex SetLine)
3. trigger an event (ex: BufEnter)
=> it works

- Case 2

1. I start nvim
2. no command call
3. trigger an event
=> autocmd has not effect

[2016-11-14 16:24] alexgenco commented on #24
Thanks for the report. I'm assuming the autocmd is defined in the same plugin as the command in case 1, number 2?

[2016-12-05 00:42] jpleau opened #25 "Test failure: Neovim::Current#window= sets the current window from an integer"
Hi. With neovim 0.1.7, I get the following test failure after installing the gem (0.3.1)

[code]

[2016-12-05 03:25] alexgenco commented on #25
Thanks! Looks like the window indices now start from 1000 instead of 0. Updated the test to use relative changes instead of absolute: https://github.com/alexgenco/neovim-ruby/commit/6ed635df885f2cbd5794de4cc523b3bdace9986d.

[2016-12-05 03:25] #25 closed

[2016-12-11 09:06] zekus opened #26 "stdin isn't a terminal"
if I run `:CheckHealth` when it comes to the ruby provider I get this:

[code]

what can the problem be?

[2016-12-11 20:06] justinmk commented on #26
Are you using a GUI? Can you provide more details about your setup?

[2016-12-11 20:34] zekus commented on #26
I'm in iTerm2 with zsh. Let me know if you need more information.

[2016-12-11 21:17] justinmk commented on #26
@zekus Can you try in bash? Or without your zsh rc files? Seems like something is calling stty.

[2016-12-11 21:57] zekus commented on #26
Bingo! found
[code]
Thanks!

[2016-12-11 21:57] #26 closed

[2016-12-17 19:39] ArturT opened #27 "Open NERDTRee causes nvim crash: error for object 0x7fb3f0675480: pointer being freed was not allocated"
I installed the `neovim` gem. I use the [NERDTRee](https://github.com/scrooloose/nerdtree) and when I do `:NERDTreeToggle` etc then the nvim crashes.

I use nvim 0.1.7. Neovim gem version is 0.3.1. Mac OS X 10.12.2

When I uninstalled neovim gem then NERDTRee works again.

I tried to install neovim gem for ruby:
* ruby-2.2.3 [ x86_64 ]
* ruby-2.3.3 [ x86_64 ]

My rvm  version is 1.27.0.

I tried t

[2016-12-18 05:20] alexgenco commented on #27
Can you reproduce with a minimal vimrc that only loads NERDTree? e.g. (Using vim-plug)

[code]

And load nvim with `nvim -u /path/to/vimrc`

Might also be worth opening an issue on the neovim repo, in case they've seen this before.

[2016-12-18 14:50] ArturT commented on #27
I've just found out that the root problem was because of [LustyJuggler](https://github.com/vim-scripts/LustyJuggler). I don't use this plugin so I removed it from my vimrc. Thanks for help!

[2016-12-18 14:50] #27 closed

[2016-12-25 05:28] #23 closed

[2016-12-25 05:29] alexgenco commented on #15
Let's reopen this if/when the neovim thread gets resolved.

[2016-12-25 05:29] #15 closed

[2016-12-25 05:30] #21 closed

[2017-01-20 05:32] argentum47 opened #28 "Issue with neovim and neovim gem and ruby/rails omni completion"
Hi, I am not being able to figure out what the problem is. But when I try to autocomplete with tabs,  or <C-x><C-o>, it breaks. I have already posted a question here,
https://github.com/Shougo/deoplete.nvim/issues/420

The error says, An error occured while calling omnifunc rubyComplete#Complete.
A ruby plugin attempted to call neovim outside main thread which isn't supported by neovim gem

(Or if

[2017-01-21 20:30] justinmk opened #29 "host dies on `:ruby` syntax error"
Using nvim 0.2.x and neovim-ruby 0.3.1, try this:

    :ruby puts(

That kills the host:

[code]

[2017-01-22 00:24] alexgenco commented on #29
Looks like I needed to add some special handling of `SyntaxError`. Fix on master https://github.com/alexgenco/neovim-ruby/commit/2a0194d09a7114a2819c3ae01c1babef34e28a8b

[2017-01-22 00:24] #29 closed

[2017-01-22 05:52] alexgenco commented on #28
It looks like vim-ruby spawns a thread here: https://github.com/vim-ruby/vim-ruby/blob/53c77ead60140df436c11d86aef5e1a4ef0eba94/autoload/rubycomplete.vim#L591. I'm not sure how deoplete is involved in the problem.

There isn't a good solution at the moment... if you're looking for a workaround, I would suggest just removing [this block of code](https://github.com/vim-ruby/vim-ruby/blob/53c77ead601

[2017-02-07 18:29] Quintasan opened #30 "undefined method `this`' for #<Gem::Specification>"
I got this after upgrading neovim today.
[code]

[2017-02-08 01:05] alexgenco commented on #30
That's strange... `this` doesn't appear anywhere in the 0.3.1 version. What's the output of

[code]

[2017-02-08 01:23] Quintasan commented on #30
Actually disregard this. It went away after a reboot. Not sure what happened.

[2017-02-08 01:29] alexgenco commented on #30
Or maybe you want to try updating rubygems? https://github.com/rubygems/rubygems/issues/1420

[2017-02-08 14:15] Quintasan commented on #30
cat `which neovim-ruby-host`
[code]

[2017-02-08 14:16] Quintasan commented on #30
The only thing that I recently did is upgrade neovim.

[2017-02-08 20:01] alexgenco commented on #30
Upgrade the neovim editor or upgrade the neovim rubygem?

[2017-02-08 20:55] Quintasan commented on #30
I'm afraid both are the latest versions.

[2017-02-08 21:06] alexgenco commented on #30
But which did you upgrade before seeing the exception?

[2017-02-08 21:06] Quintasan commented on #30
Neovim.

[2017-02-08 21:10] alexgenco commented on #30
I've seen this issue pop up elsewhere, it seems like `gem pristine neovim` or `gem pristine --all` should fix it. Either that or it's a bad installation of RubyGems, in which case you should just use a more recent version of Ruby.

https://github.com/rubygems/rubygems/issues/1420
https://github.com/sj26/mailcatcher/issues/267
https://github.com/rubysec/bundler-audit/issues/157

[2017-02-08 21:15] Quintasan commented on #30
So far so good. Looks like the problem is gone. Thanks.

[2017-02-08 21:15] #30 closed

[2017-02-12 16:52] argentum47 commented on #28
ok, thanks.

[2017-02-12 20:35] alexgenco commented on #28
I've opened a pull request in vim-ruby: https://github.com/vim-ruby/vim-ruby/pull/332

[2017-03-09 12:06] argentum47 commented on #28
so, it seems no one cares about vim-ruby issue, there is no activity on the PR.. is it possible that you make a rolling fork and merge it to your master ?

[2017-03-09 12:25] justinmk commented on #28
Forking vim-ruby puts a big burden on neovim-ruby and/or neovim. It should be fixed upstream, in vim-ruby.

[2017-03-09 12:27] justinmk commented on #28
@alexgenco might be worth rebasing https://github.com/vim-ruby/vim-ruby/pull/332 to "ping" the maintainers.

[2017-03-10 16:09] alexgenco commented on #28
Just poked

[2017-03-10 22:28] alexgenco commented on #28
Looks like it's merged now. Want to update and give it another try?

[2017-03-11 11:43] justinmk commented on #24
If possible please try again on neovim master.

[2017-03-13 21:49] alexgenco commented on #24
Works for me! Thanks all.

[2017-03-13 21:49] #24 closed

[2017-03-18 23:18] alexgenco commented on #28
@argentum47 any luck?

[2017-03-21 20:21] jpfender opened #32 ""Failed to load ruby host""
I'm having an issue very similar to the one described in #11, but none of the solutions presented there work for me.

`:ruby puts "hello"` produces the following:

[code]

Versions/logs:

[code]

[code]

[code]

[code]

[code]

I am using Arch Linux 4.10.4-1 x86_64.

As you can see, my errors are not exactly the same as those in #11. Skipping the vimrc doesn't change anything. The errors came on a

[2017-03-21 20:24] alexgenco commented on #32
I think you will need to upgrade your nvim, as I don't think the DirChanged event exists in 0.1.7.

Although neovim-ruby should probably have fallback behavior in this case, since this is not a great experience and we don't want to force everyone to upgrade nvim. I'll look into it sometime this week.

[2017-03-21 20:37] jpfender commented on #32
Thanks for the quick response! I upgraded to 0.20 and that did indeed fix the problem.

I agree that there should be fallback behaviour here because the error message is not very helpful in this case.

[2017-03-21 23:10] alexgenco commented on #32
Just pushed a hotfix 0.3.3 to rubygems. hopefully the overlap of users with 0.3.2 and an old version of nvim is relatively small.

Thanks for reporting!

[2017-03-21 23:10] #32 closed

[2017-05-01 01:35] alexgenco commented on #28
Please reopen if more issues arise.

[2017-05-01 01:35] #28 closed

[2017-05-02 19:27] shlomocomputer opened #35 "Failed to run: /usr/local/bin/neovim-ruby-host --version"
macOS Sierra
Neovim 0.2.0 and Ruby 2.4.1 installed via homebrew
Using vim-plug
Gem neovim 0.4.0

:CheckHealth fails when it gets to Ruby after Neovim 0.2.0 upgrade, before and after neovim-ruby upgrade from 0.3.1 to 0.4.0.

Relevant line in .config/nvim/init.vim (needed to use Homebrew Ruby and not macOS's):
`let g:ruby_path = '/usr/local/bin/ruby'`

Here is the output of `neovim-ruby-host --versi

[2017-05-02 19:54] justinmk commented on #35
Isn't that a problem with your environment?

[2017-05-03 00:16] shlomocomputer commented on #35
Indeed, a `gem update` fixed the issue.  Thanks.

[2017-05-03 00:16] #35 closed

[2017-06-01 19:48] dewyze opened #37 "Does this need to be installed for each ruby version?"
I use rvm and have a variety of ruby versions on my machine. Not all projects share the same ruby-version, do I need to install this for each ruby-version on my machine?

When I run `:CheckHealth` I get

[code]

If I change projects, that version changes. I just want confirm that it does need to be installed for each ruby version and there is no way for it to be installed only once.

[2017-06-01 22:19] alexgenco commented on #37
@dewyze are you using rvm gemsets? If you install the neovim gem for a particular Ruby version, do you get a clean `:CheckHealth` when launching `nvim` from that ruby version?

[2017-06-03 03:37] ashang commented on #21
I run into the same issue, and solved by adding the gem path.
https://stackoverflow.com/questions/42164311/missing-neovim-rubygem/44339982#44339982

[2017-06-03 05:18] dewyze commented on #37
I am using gemsets, if I install it globally on a version it works. It is just unfortunate to need to install it every time I install a new ruby version.

[2017-06-03 21:25] alexgenco commented on #37
Yeah unfortunately I think that's expected at this point. I'm thinking a possible improvement would be if we added the ability to set an env var like `NVIM_RUBY_HOST_COMMAND="rvm system do neovim-ruby-host"` to pin it to the system gem version. @justinmk thoughts? Happy to put together a PR.

[2017-06-03 22:09] alexgenco commented on #37
Correction, looks like `g:ruby_host_prog` would match better with python: https://github.com/neovim/neovim/blob/master/runtime/autoload/provider/pythonx.vim#L51

[2017-06-14 03:54] ltlam93 opened #38 "ERROR: Failed to build gem native extension."
ubuntu 16.04
ruby 2.3
gem 2.5.1
neovim 0.1.7

[code]

[2017-06-14 04:02] ltlam93 commented on #38
I've just found out that the problem was because of ruby-dev. Install ruby-dev fixes it

[2017-06-16 19:00] alexgenco commented on #38
Thanks for reporting, I'm sure others will find this helpful.

[2017-06-16 19:00] #38 closed

[2017-06-25 00:11] alexgenco commented on #37
https://github.com/neovim/neovim/pull/6841 has been merged, so you should be able to use `let g:ruby_host_prog = 'rvm system do neovim-ruby-host'` after upgrading to nvim [nightly](https://github.com/neovim/neovim/releases/tag/nightly) and installing the `neovim` gem to the system gemset.

I'm gonna close this, but let me know if you have further issues.

[2017-06-25 00:11] #37 closed

[2017-07-10 13:03] jpleau opened #39 "New release"
Hi!

Would it be possible to release a new minor version of neovim-ruby? The current 4.0.0 release is listed for neovim-0.1.7, while current HEAD is for 0.2.0. I'm working on getting the ruby-neovim package up to date for Debian/Ubuntu, and this would really help.

Thanks!

[2017-07-11 18:31] alexgenco commented on #39
Happy to cut a new release, but just for my understanding... what do you mean "The current 4.0.0 release is listed for neovim-0.1.7"? Do you mean 0.4.0? Could the new package just include 0.4.0 without a gem release? (Again, a gem release is on my TODO list so I will probably do it regardless)

[2017-07-11 18:43] jpleau commented on #39
Hi.

Sorry, 4.0.0 was a typo, I meant 0.4.0.

I was looking at this when I meant "the current release is listed for neovim-0.1.7":

https://github.com/alexgenco/neovim-ruby/blob/v0.4.0/lib/neovim/client.rb#L9

The documentation was generated using neovim-0.1.7, while current git HEAD's documentation was generated for 0.2.0.

I will probably have to wait for a gem release since Debian ruby package

[2017-07-11 18:57] alexgenco commented on #39
Fair enough, will publish shortly.

[2017-07-11 20:38] alexgenco commented on #39
Done, let me know if you need anything else https://rubygems.org/gems/neovim/versions/0.5.0

[2017-07-11 20:38] #39 closed

[2017-07-15 14:51] jpleau opened #40 "vader.vim missing from release build"
Hi

The directory spec/integration/runtime/vader.vim/ is empty in release tarballs. It looks like it's a git submodule, but is not fully included in the release. This makes it impossible to run the tests without cloning from git!

Would it be possible to include the submodule in release tarballs?

Thanks !

[2017-07-15 18:41] alexgenco commented on #40
I don't know much about releases, but I looked into it a little bit and it doesn't look like there's a way to include submodules in Github releases. I don't personally see this as a problem; if you need to run the tests you should be using a cloned repo, as the [README suggests](https://github.com/alexgenco/neovim-ruby#contributing). I think the tarballs should be used for installation only.

Is t

[2017-07-15 20:32] jpleau commented on #40
Hi.

I'll describe my use case: I am currently working on upgrading the Debian/Ubuntu package for neovim-ruby to the latest release. We have scripts that update ruby packages' source code using rubygems. (Not using git repos)

During package building (.deb), tests are ran. Now since vader.vim isn't included in the release, the tests that require it obviously fail, and package creation aborts.

I c

[2017-07-16 03:16] alexgenco commented on #40
I just converted vader.vim from a submodule to a subtree. I'll try to release 0.5.1 tomorrow sometime, and it should include the vader.vim files.

[2017-07-16 18:55] alexgenco commented on #40
I just released [0.5.1](https://rubygems.org/gems/neovim/versions/0.5.1). Can you check if this works for you?

[2017-07-16 23:19] jpleau commented on #40
Hi.

Thanks, that fixed the testing issue I had !

[2017-11-12 23:08] blueyed opened #46 "Missing json dependency?!"
It seems like with Neovim master "json" is required?!

Not sure, but I've noticed this with https://github.com/tweekmonster/vim-testbed - and have not really investigated yet.

[code]

[2017-11-12 23:24] blueyed commented on #46
Installing the Alpine `ruby-json` fixed it.

Feel free to close this issue.

[2017-11-12 23:39] alexgenco commented on #46
Hmm yeah I just added this dependency, that's weird that it's failing on ruby 2.4.0, since it should be part of the stdlib: http://ruby-doc.org/stdlib-2.4.0/libdoc/json/rdoc/JSON.html.

I'll patch this and push a new gem shortly. Sorry about that.

[2017-11-12 23:57] blueyed commented on #46
No problem.  It might be something special about Alpine Linux, where this is a separate package for space reasons etc.

Just having the dependency would have failed, too - since it likely requires additional headers then to build it.

[2017-11-13 00:12] alexgenco commented on #46
Can you give it another try with the latest release (0.6.1)? It uses `multi_json` instead of a hard json dependency, and only loads it when logging is enabled.

[2017-11-13 00:31] blueyed commented on #46
Thanks!
Trying in https://github.com/tweekmonster/vim-testbed/pull/52.

[2017-11-13 09:23] #46 closed

[2017-11-13 09:23] blueyed commented on #46
Thanks for the quick fix!

[2018-01-29 00:18] alexgenco commented on #40
@jpleau I made some updates that could potentially make this an issue again. I'm using vim-themis instead of vader now, and I'm installing it using `vim-flavor`, instead of checking it into the repo. Can you check if things are working with this change?

[2018-01-29 13:43] jpleau commented on #40
Hi, not at home today so I can't test, but I can already tell it probably will break things on my end.

Network is completely disabled on build servers, so the plugin will probably fail to be downloaded and installed.

I can simply disable tests in the packaging (not the best option, but I understand it makes things easier on your side). Maybe I can patch the rakefile at build time to only run the

[2018-01-29 16:37] alexgenco commented on #40
Running just the functional tests seems like a good option. Do you not have any control over how it runs tests? If so, you don't have to patch the Rakefile and can just run `rake spec:functional` instead of `rake`. Themis is a significantly larger codebase than Vader (and significantly larger than neovim-ruby itself), so I'd really rather it be included lazily.

[2018-01-29 17:51] jpleau commented on #40
I believe I do have control yes, not sure why I proposed to patch the Rakefile at build time instead.

I'll try to work on it this week, will report back.

Thanks for letting me know of these changes, it's appreciated !

[2018-02-21 00:23] alexgenco commented on #40
Feel free to reopen if you have issues.

[2018-02-21 00:23] #40 closed

[2018-02-22 01:55] jpleau commented on #40
Quick test: it seemed to work fine on my side. I'll wait for an official release before going further. Thanks

[2018-03-03 06:49] anjos opened #51 "lib/neovim/ruby_provider.rb is broken on release 0.7.0"
If I use this release, neovim keeps complaining about StringIO not being defined with:

[code]

Simple test - install the plugin, run `:UpdateRemotePlugins`, then run `:ruby puts 'hello'`.

Fixing: just `require "stringio"` on the header of `lib/neovim/ruby_provider.rb`. I hope it helps

[2018-03-03 20:04] alexgenco commented on #51
Good catch! I thought that was stdlib but I guess not. Feel free to PR the change, otherwise I'll get to it probably next week.

[2018-03-04 19:25] alexgenco commented on #51
Just pushed 0.7.1 to rubygems. Please reopen if you have further issues.

[2018-03-04 19:25] #51 closed

[2018-03-04 19:25] alexgenco commented on #40
@jpleau 0.7.1 was just released, FYI

[2018-03-04 20:23] jpleau commented on #40
Awesome thanks. I actually upgraded my packaging yesterday to match current git master, will update everything this week!

[2018-03-21 21:52] cbcoutinho opened #52 "Finding ruby host using a system call doesn't work"
Hi there,

I just came across a small problem I'm having with various ruby versions and neovim. I need to access different operating systems that for various reasons can't install `rvm` - I need to use the system ruby version. I have installed the neovim ruby package in my home directory (`~/.gem/ruby/2.x.y/bin/neovim-ruby-host`), and can find it using `which neovim-ruby-host`

instead of hard cod

[2018-03-21 23:51] alexgenco commented on #52
I just tried this locally and it failed when I did `system("which neovim-ruby-host")`, which contains a trailing newline, and worked when i did `systemlist("which neovim-ruby-host")[0]`, which strips the newline. Can you try the latter?

[2018-03-22 00:07] cbcoutinho commented on #52
Thanks for getting back to me so quickly. This work around gets the job done!

[2018-03-22 00:07] #52 closed

[2018-09-09 11:21] justinmk opened #53 "Move to Neovim org?"
@alexgenco Given that this is one of the most well-maintained API clients and it is part of the core documentation and runtime, would you be interested in transferring it to the https://github.com/neovim/ org ?

You would of course continue to have full admin rights there. Essentially nothing would change except "user perception".

If you'd rather not that's fine too!

[2018-09-09 18:01] alexgenco commented on #53
I don't see any reason why not... we'd probably want to rename the repo to `ruby-client` as well for consistency I take it.

It looks like I can request the transfer even though I don't yet have repo creation access, so I'll do that. Then we can rename once you approve.

[2018-09-09 18:03] alexgenco commented on #53
Scratch that, I can't even request the transfer without repo creation permissions.

[2018-09-09 18:06] justinmk commented on #53
Invited  you, if you visit https://github.com/neovim and accept then you should have repo-creation ability.

[2018-09-09 18:35] alexgenco commented on #53
Alright it's moved over. Looks like you'll have to do the rename.

It prompted me to grant teams access to the repo, including teams like "core", "go-client", "marvim", etc. I didn't invite any for now, but I assume we can invite as-needed.

[2018-09-09 19:38] justinmk commented on #53
Ok, great!  I just changed your role to "Admin", so you should be able to rename it if you want. I think the current name is fine too, the "foo-client" convention was from before the advice in `:help dev-api-client` was written :)

[2018-09-09 19:38] #53 closed

[2018-09-09 20:33] alexgenco commented on #53
Sounds good, I'll leave it as is for now, since I think `neovim-ruby` is a more descriptive name on its own.

[2018-11-28 00:51] comex opened #54 "LustyJuggler is rather slow"
[LustyJuggler](https://github.com/sjbach/lusty) is a Ruby-using Vim plugin for quickly switching buffers.  Using regular Vim, it feels instantaneous.  Using NeoVim, however, it takes about 500ms to complete a switch (measured with pre-buffered keyboard input, starting from when ":LustyJuggler" appears on screen to when the current buffer actually switches).  I tested this using trunk versions of n

[2018-11-28 01:00] alexgenco commented on #54
Great optimization, I'll take a crack at it.

[2018-11-28 01:21] alexgenco commented on #54
@comex when you get a chance, can you try `rake install`ing from this PR branch and running your benchmarks? https://github.com/neovim/neovim-ruby/pull/55

[2018-11-28 03:36] comex commented on #54
Awesome!  That seems to be even more of a win than ruby-prof would suggest: switch time dropped by more than half, from ~450ms to ~175ms (retesting both versions with a more accurate benchmark).

For the record, here is the benchmark (I have `0` mapped to launch LustyJuggler):
[code]

That still leaves room for improvement, though.  I suspect that most of the overhead would go away if LustyJuggler

[2018-11-28 20:41] alexgenco commented on #54
I'm interested to see how this would look in LustyJuggler. We can expose something in neovim-ruby to buffer certain RPC messages (notifications, maybe client responses?) and then flush them all in one go, but I'm not sure how that would work for client requests, which necessarily block on the response from nvim.

For instance:

[code]

Not to mention the fact that neovim-ruby treats all generated

[2018-12-01 23:52] comex commented on #54
Yep, I already made sure logging was off when benchmarking.

[2018-12-02 18:58] alexgenco commented on #54
@comex I opened a PR with some quick optimizations https://github.com/neovim/neovim-ruby/pull/58. It brought the `__refresh_globals` method down to a single RPC request (instead of 2-3), which might help a bit.

[2018-12-04 20:14] mhinz opened #59 "ArgumentError because of a seemingly unrelated line"
Hi,

Today I started playing around with a Ruby rplugin and I'm not really sure if this is a bug or just PEBKAC. Here's a bit of code:

[code]

When I use `:Travis`, I get the expected "blah". But when I uncomment that one line, I get:

[code]

Huh? :) I think `Travis#request` is not even run, it fails earlier.

Do you happen to know what's wrong with it?

[2018-12-04 20:22] alexgenco commented on #59
I think it's because you are calling `request` with no arguments but it takes a single options argument.

[2018-12-04 20:53] mhinz commented on #59
Yes, I'm an idiot. I somehow thought it was coming from this plugin...

![](https://media.giphy.com/media/E2USislQIlsfm/giphy.gif)

Sorry for the noise and thanks for the plugin!

---

... that said, I actually have another question. I could open another PR for it, but I guess it's not really worth it:

How does a Ruby user usually setup their repos for development? E.g. in Python I do `pip3 insta

[2018-12-04 21:04] #59 closed

[2018-12-04 21:13] alexgenco commented on #59
If you run `bundle exec rake install` in your local repo, it will install the package locally as is. But you have to run that after every change I think.

[2019-05-24 13:49] justinmk opened #60 "set client info after connecting"
Nvim 0.3.2+ has `nvim_set_client_info` API method, so that clients can provide hints about their identity and purpose.

Example from pynvim https://github.com/neovim/pynvim/pull/350 host (later enhanced in https://github.com/neovim/pynvim/pull/399):

[code]

- To keep it easy, neovim-ruby could just omit the "method spec" for now. Something is better than nothing, because then users/plugins can in

[2019-05-27 13:40] alexgenco commented on #60
Sorry I've been out of town, I'll look into this in the next few days

[2019-05-29 23:28] alexgenco commented on #60
@justinmk Not sure if I'm reading this correctly, but is the method spec always hardcoded to "poll", "specs", and "shutdown" even for remote plugin hosts? Looking at this: https://github.com/neovim/pynvim/blob/4dd9962c47bc9d48dc01d7cdf99e3c9819e97548/pynvim/plugin/host.py#L23

[2019-05-30 11:04] justinmk commented on #60
@alexgenco for non-host client, pynvim sends `{}` for the method spec. I'm not sure if that should be changed, I didn't think about it much.

[2019-05-31 20:45] alexgenco commented on #54
Closing for now.

[2019-05-31 20:45] #54 closed

[2019-06-03 20:08] alexgenco commented on #60
resolved in https://github.com/neovim/neovim-ruby/pull/61

[2019-06-03 20:08] #60 closed

[2019-06-21 20:37] alexgenco commented on #60
Forgot to release this until just now: https://rubygems.org/gems/neovim/versions/0.8.1

[2020-05-24 18:20] AlexVKO opened #66 "Get visual selected text"
Hi,

I'm building a plugin that works in visual mode,

Is there a way to easily get the selected text with ruby? (Inside the plugin block)

Thank you for the great work.

[2020-05-24 19:39] alexgenco commented on #66
If you pass `range: true` in the plugin hook it will yield the line numbers selected (1-indexed): https://github.com/neovim/neovim-ruby/blob/898f88db603410da7e461e0833238547f5f18eea/spec/acceptance/runtime/rplugin/ruby/functions.rb#L6-L8

If you want to convert these to the line contents, you can use `nvim.current.buffer.lines[start-1..stop-1]`. Note you have to convert to 0-indexed.

[2020-05-24 23:31] AlexVKO commented on #66
Cool, that helps, but what about

![Screen Shot 2020-05-24 at 7 30 42 PM](https://user-images.githubusercontent.com/8848152/82767366-21edc380-9df5-11ea-9f5c-b92eb213ab83.png)

[2020-05-25 20:45] alexgenco commented on #66
That's not quite as straightforward! Here's something I came up with that puts the selection into a yank buffer and evaluates it back out:

[code]

Not sure if there's a more straightforward way.

[2020-05-26 13:15] #66 closed

[2021-06-02 13:33] bweave opened #71 "Testing a Ruby plugin"
How would I go about setting up testing with Minitest for a Ruby plugin? Did I miss that in the docs somewhere?

Thanks!

[2021-06-02 14:49] alexgenco commented on #71
I think you have a couple options here:

1. Write unit-style tests like the ones in neovim-ruby itself: https://github.com/neovim/neovim-ruby/blob/main/spec/neovim/plugin_spec.rb
2. Write more integration-level tests using a vim test suite such as [themis](https://github.com/thinca/vim-themis) or [vspec](https://github.com/kana/vim-vspec). neovim-ruby actually has a [themis test suite](https://git

[2021-06-03 21:13] bweave commented on #71
For anyone else who might find it useful, I ended up extracting the bits I care about testing out into a class and calling that class from the `Nvim.plugin` call. You can check it out here: https://github.com/bweave/nvim-plugins. ❤️  that I can skip the Vimscript and create the functionality I want/need in the language I love!

[2021-06-03 21:13] #71 closed

[2022-05-02 14:54] justinmk opened #82 "$NVIM_LISTEN_ADDRESS will be removed"
I don't see $NVIM_LISTEN_ADDRESS being used in this repo but just want to make sure, because I noticed ruby provider failing in https://github.com/neovim/neovim/pull/11009 (but I haven't root-caused that yet).

https://github.com/neovim/neovim/pull/11009 (Nvim 0.8+) will change Nvim so that $NVIM_LISTEN_ADDRESS is _not_ passed to child processes.  After that, the correct way to detect a "host" or

[2022-05-02 16:09] alexgenco commented on #82
Thanks for the info. I can check out that build failure and update the documentation a little later, but yeah this library doesn't use that env var directly. I actually never knew it was also meant to be used as an indicator of whether the current process was spawned by nvim; that isn't a concept this library cares about currently.

[2022-05-03 04:27] alexgenco commented on #82
This removes the references in documentation: https://github.com/neovim/neovim-ruby/pull/83

I didn't find any Ruby provider failures on that PR build, could you link me to them if they're still happening?

[2022-05-03 13:40] justinmk commented on #82
They're gone, the issue was unrelated to this.

[2022-05-03 15:12] #82 closed

[2022-07-10 21:14] bjacobson26 opened #86 "doc links in README are broken"
https://www.rubydoc.info/github/neovim/neovim-ruby/main/Neovim

[2022-07-10 21:58] #86 closed

[2022-07-10 21:58] alexgenco commented on #86
Thanks!